.contactPage{
    margin-top: 75px;
    background-color: rgb(157, 157, 192);
    height: 100vh;
}
.locationConntainer{
    margin-right: 34px;
    display: flex;
    margin-top: 50px
  ;
}
.physicalAddress{
    
    width: 50%;
  
}
.map{
    margin-top: 45px;
    height:200px;
}
.address,.numberaddress{
   text-align: center;
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.locationContainer{
    margin-left: 15%;
    margin-top: 28px;
    align-items: center;
   
}
.contactContainer{
    width: 50%;
}
.phoneAddress{
 margin: 5px;
    width: 50%;
}


