.myProjectFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(196, 141, 248);
    color: black;
    font-size: 0.7em;
    height: 130px;
  }
  
  .footLinkContainer{
    margin-top: 0px;
    width: 33%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 10px;
  }
  .footSocialContainer{
    display: block;
    /* border: solid black; */
    width: 33%;
    padding: 5px;
    /* padding: 25px 50px; */
  }
  .footContactContainer{
    /* border: solid yellow; */
    width: 33%;
    padding: 10px;
  }
  .footContainer{
    /* border: solid red; */
    display: flex;
    width: 100%;
  }
  .instagram{
    /* border: solid black; */
    height: 23px;
    width: 20%;
  }
  .facebook{
    /* border: solid yellow; */
    height: 23px;
    width: 23px;
    width: 20%;
  }
  .twitter{
    /* border: solid green; */
    height: 23px;
    width: 23px;
  }
  .youtube{
     /* border: solid red; */
    height: 23px; 
    width: 23px;
  }
  .linkedin{
    /* border: solid red; */
    height: 23px;
    width: 23px;
  }
  a.youtube {
    color: #eb3223;

  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #4892cf;
  }
  
  /* .fa fa-instagram {
    color: black;
  } */
  .socialInfo{
    display: flex;
    justify-content: space-between;
  
  }
  .title{
   text-align: center;
    justify-content: space-between;
  
  }